/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Generic */
body {
    background-color: rgb(187, 187, 187);
}

header {
    height: 80px;
    background-color: white;
    line-height: 80px;
}

/* Utilities */
.container {
    background-color: white;
    margin: 50px auto;
    height: 800px;
    width: 1000px;
    border-radius: 2%;
}

.button {
    display: inline;
    padding: 10px;
    border-radius: 10px;
    vertical-align: middle;
}

/* Header */
#logo-boolean {
    height: 4.2em;
    margin-left: 20px;
    vertical-align: middle;
}

.header-title {
    display: inline;
    font-size: 3em;
    vertical-align: middle;
}

/* Main */
.button.task {
    background-color: #1e90ff;
    color: white;
    margin-left: 20px;
}

.button.section {
    border: 1px solid rgb(187, 187, 187);
    color: rgb(187, 187, 187);
}

.container-buttons {
    height: 80px;
    border-radius: 10px 10px 0 0;
    border-bottom: 2px solid rgb(187, 187, 187);
    line-height: 80px;
}


