/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Generic */
body {
    background-color: rgb(187, 187, 187);
}

header {
    height: 80px;
    background-color: white;
    line-height: 80px;
}

ul {
    list-style: none;
    margin-top: 10px;
    font-size: 20px;
}


/* Utilities */
.mleft {
    margin-left: 20px;
}

.container {
    background-color: white;
    margin: 50px auto;
    height: 800px;
    width: 1000px;
    border-radius: 2%;
}

.button {
    display: inline;
    padding: 10px;
    border-radius: 10px;
    vertical-align: middle;
}

.mright {
    margin-right: 5px;
}

.green {
    color: #048204;
}

.text-label-size {
    font-size: 15px;
    color: white;
    display: inline-block;
    height: 24px;
    padding: 2px 10px;
    vertical-align: middle;
    border-radius: 9px;
}

.editorial {
    background-color: #45abea;
}

/* Header */
#logo-boolean {
    height: 4.2em;
    vertical-align: middle;
}

.header-title {
    display: inline;
    font-size: 3em;
    vertical-align: middle;
}

/* Main */
.button.task {
    background-color: #1e90ff;
    color: white;
}

.button.section {
    border: 1px solid rgb(187, 187, 187);
    color: rgb(187, 187, 187);
}

.container-buttons {
    height: 80px;
    border-radius: 10px 10px 0 0;
    border-bottom: 2px solid rgb(187, 187, 187);
    line-height: 80px;
}

/* div new task */
.new-task {
    margin-top: 25px;
}
